<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center jumbotron_line">
      <div class="row row_st_line">
        <div class="row row_width">
          <div class="col-xs-3 connect_3" style="padding:0;">
            <select class="form-control form-control_st" id="sel1" name="connector_seq" onchange="changeConnector(this.value)">
              <%
              for(var i = 0 ; i < connectorList.length ; i++){
                  var connectorInfo = connectorList[i];
                  var cntSeq = connectorInfo.connector_seq;
                  var cntName = connectorInfo.cntName;
                  var selected = '';
                  if(cntSeq === connector_seq){
                    selected = 'selected';
                  }
                %>
                <option <%=selected %> value='
                  <%=cntSeq %>'>
                    <%= cntName %>
                </option>
                <%
              }
              %>
            </select>

            <div class="title" style="margin-top:30px;"> 실시간 접속반 모니터링
              <span style="position: absolute;color: black;width: 300px; text-align: left; text-indent: 30px">
                측정시간:
                <%- gridInfo.measureTime %>
              </span>
            </div>
          </div>
          <div class="col-xs-9" style="padding:0; width:820px;">
            <div class="conne">
              <div class="form-group conne_1">
                <label class="inputlg_1" for="inputlg">평균 전압(V)</label>
                <input class="form-control input-lg" id="inputlg" type="text" value=<%- gridInfo.vol %>>
              </div>
              <div class="form-group conne_1">
                <label class="inputlg_1" for="inputlg">총 전류(A)</label>
                <input class="form-control input-lg" id="inputlg" type="text" value=<%- gridInfo.totalAmp %>>
              </div>
            </div>
          </div>
        </div>
        <div class="row_width">
          <div class="table-responsive">
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th style="width:12%;"></th>
                  <%
                    for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                      let chName = 'CH ' + Number(i + 1);
                  %>
                    <th style="width:11%;">
                      <%= chName %>
                    </th>
                    <%
                  }
                  %>
                </tr>
              </thead>
              <tbody id="myTable">
                <tr class="sel">
                  <td class="td1">설치장소</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let modulePlace = moduleStatus ? moduleStatus.modulePlace ? moduleStatus.modulePlace : '외부' : '';
                  %>
                    <td>
                      <%= modulePlace %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">모듈 타입</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let moduleType = moduleStatus ? moduleStatus.target_name : '';
                  %>
                    <td>
                      <%= moduleType %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">제조사</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let manufacturer = moduleStatus ? moduleStatus.manufacturer : '';
                  %>
                    <td>
                      <%= manufacturer %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">전류 (A)</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let amp = moduleStatus ? moduleStatus.amp : '';
                  %>
                    <td>
                      <%= amp %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">전압 (V)</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let vol = moduleStatus ? moduleStatus.vol : '';
                  %>
                    <td>
                      <%= vol %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">모듈온도(℃)</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let moduleTemperature = '';
                  %>
                    <td>
                      <%= moduleTemperature %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">장치상태</td>
                  <%
                  for(let i = 0; i < gridInfo.maxModuleViewNum; i++){
                    let moduleStatus = moduleStatusList[i];
                    let moduleOperation = moduleStatus ? 'image/green.png' : '';
                  %>
                    <td class="center_ball">
                      <img src="<%= moduleOperation %>" />

                    </td>
                    <%
                  }
                  %>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row row_title">
            <div class="title" style="margin-top:10px; float:left;"> 금일 시간 별 발전량</div>
          </div>
          <div class="title_box" id="chart_div" style="height :300px"></div>
        </div>
      </div>
    </div>
    <%- include("../master/footer.html") %>

    <script>
      function changeConnector(target) {
        console.log(target)
        location.href = 'connector?connector_seq=' + target;
      }
    </script>

    <!-- 접속반 하이차트-->
    <script type="text/javascript">
      var chartDataObj = <%- JSON.stringify (chartDataObj) %>;

      $(function () {
        $('#chart_div').highcharts({
          title: {
            text: ''
          },
          xAxis: {
            title: {
              text: '시간(Hour)'
            },
            categories: chartDataObj.range
            // categories: rangeData,
            // tickInterval: 6
            // categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']
          },
          yAxis: {
            title: {
              text: '발전량(wh)'
            }
          },
          legend: { //범례
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: chartDataObj.series,
          credits: {
            enabled: false
          },
        });
      });
    </script>
</body>

</html>