<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
  <script src="js/hichart/highcharts.src.js"></script>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center jumbotron_line">
      <div class="row row_st_line min_h_780">


        <div class="row row_width top_box">
     
              <div class="col-xs-2 sel_box">
                  접속반
            <select class="form-control form-control_st" id="sel1" name="connector_seq" onchange="changeConnector(this.value)">
              <%
              for(var i = 0 ; i < connectorList.length ; i++){
                  var connectorInfo = connectorList[i];
                  var cntSeq = connectorInfo.connector_seq;
                  var cntName = connectorInfo.target_name;
                  var selected = "";
                  if(cntSeq === connector_seq){
                    selected = "selected";
                  }
                %>
                <option value="<%=cntSeq %>" <%=selected %> >
                      <%= cntName %>
                </option>
                <%
              }
              %>
            </select>
              </div>

          <div class="col-xs-9" style="float:right;">
            <div class="conne">
              <div class="form-group conne_1">
                <label class="inputlg_1" for="inputlg">평균 전압(V)</label>
                <input class="form-control input-lg" type="text" value=<%- gridInfo.avgVol %>>
              </div>
              <div class="form-group conne_1">
                <label class="inputlg_1" for="inputlg">총 전류(A)</label>
                <input class="form-control input-lg" type="text" value=<%- gridInfo.totalAmp %>>
              </div>
              <div class="form-group conne_1">
                <label class="inputlg_1" for="inputlg">총 전력(kW)</label>
                <input class="form-control input-lg" type="text" value=<%- gridInfo.totalPower %>>
              </div>
            </div>
          </div>
        </div>


        <div class="row row_title">
            <div class="title" style="margin-top:10px; float:left;"> 실시간 접속반 모니터링
                <span style="position: absolute;color: black;width: 300px; text-align: left; text-indent: 30px">
                    측정시간:
                    <%- gridInfo.measureTime %>
                  </span>
            </div>
          </div>


        <div class="row_width">
          <div class="table-responsive">
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th style="width:12%;"></th>
                  <%
                    for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <th style="width:11%;">
                      <%= connectorStatusData.connector_ch[i] %>
                    </th>
                    <%
                  }
                  %>
                </tr>
              </thead>
              <tbody id="myTable">
                <tr class="sel">
                  <td class="td1">설치장소</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.install_place[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">연결 인버터</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.ivt_target_name[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">모듈 타입</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.pv_target_name[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">제조사</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.pv_manufacturer[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">전류 (A)</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.amp[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">전압 (V)</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                        <%= connectorStatusData.vol[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">전력(W)</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                      <%= connectorStatusData.power[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                <tr class="sel">
                  <td class="td1">모듈온도(℃)</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                  %>
                    <td>
                      <%= connectorStatusData.temperature[i] %>
                    </td>
                    <%
                  }
                  %>
                </tr>
                
                <tr class="sel">
                  <td class="td1">장치상태</td>
                  <%
                  for(var i = 0; i < gridInfo.maxModuleViewNum; i++){
                    var hasOperation = connectorStatusData.hasOperation[i];
                    var moduleOperation = hasOperation ? "image/green.png" : hasOperation === false ? "image/red.png" : "";
                  %>
                    <td class="center_ball">
                      <img src="<%= moduleOperation %>" />
                    </td>
                    <%
                  }
                  %>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row row_title">
            <div class="title" style="margin-top:10px; float:left;"> 금일 시간 별 전력</div>
          </div>
          <div class="title_box" id="chart_div" style="height :300px"></div>
        </div>
      </div>
    </div>
    <%- include("../master/footer.html") %>

    <script>
      function changeConnector(target) {
        location.href = "/connector?connector_seq=" + target;
      }
    </script>

    <!-- 접속반 하이차트-->
    <script type="text/javascript">
      var chartDataObj = <%- JSON.stringify(chartDataObj) %>;

        if (chartDataObj.series.length) {
          var yMax = 1500;
          $("#chart_div").highcharts({
            title: {
              text: ""
            },
            xAxis: {
              title: {
                text: "시간(Hour)"
              },
              categories: chartDataObj.range
              // categories: rangeData,
              // tickInterval: 6
              // categories: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"]
            },
            yAxis: {
              max: yMax,
              title: {
                text: "전력(W)"
              }
            },
            legend: { //범례
              layout: "vertical",
              align: "right",
              verticalAlign: "middle",
              borderWidth: 0
            },
            series: chartDataObj.series,
            credits: {
              enabled: false
            },
          });
        } else {
          $("#chart_div").html("발전 내역이 존재하지 않습니다.").css({ "line-height": "300px", "font-size": "25px" });
        }

      </script>
</body>

</html>