<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SM부트스트랩 테마디자인</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

    <!-- 부트스트랩 -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <script src="js/jquery-3.1.1.min.js"></script>
    <link href="css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="js/bootstrap.min.js"></script>


    <link href="fonts/font-awesome.min.css" rel="stylesheet" />
    <!--네비-->
    <%- include("../master/header.html") %>
        <!--메인-->




        <div class="jumbotron text-center  jumbotron_line">
            <div class="row  row_st_line">
                <div class="row row_width" style="margin-bottom:30px;">

                    <div class="col-xs-5 serch_st" style="float:right;">
                        날짜 &nbsp;
                        <input class="input_tre" name="kW" type="text" value="2017-03-14"> ~ <input class="input_tre" name="kW" type="text" value="2017-03-14">
                        <button type="button" class="btn btn-primary" style="margin-bottom:3px; height:28px;">검색</button>
                    </div>


                </div>

                <div class="table-responsive row_width">
                    <table class="table table-hover" style="border-bottom:1px solid #ddd;">
                        <thead>
                            <tr>
                                <th style="width:4%;">번호</th>
                                <th style="width:16%;">장비그룹(식별코드)</th>
                                <th style="width:19%;">알람발생 일시</th>
                                <th style="width:19%;">알람해제 일시</th>
                                <th style="width:16%;">장비명(식별코드)</th>
                                <th style="width:24%;">알람내용</th>


                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <tr class="sel">
                                <td class="td1 td1_num">1</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">2</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">3</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">4</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">5</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>

                            <tr class="sel">
                                <td class="td1 td1_num">6</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>

                            <tr class="sel">
                                <td class="td1 td1_num">7</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>

                            <tr class="sel">
                                <td class="td1 td1_num">8</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>

                            <tr class="sel">
                                <td class="td1 td1_num">9</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>

                            <tr class="sel">
                                <td class="td1 td1_num">10</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">11</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">12</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">13</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                            </tr>
                            <tr class="sel">
                                <td class="td1 td1_num">14</td>
                                <td>접속반 1(Conn 1)</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>2017-03-14 16:24:35</td>
                                <td>수중모듈 1 (PV 1)</td>
                                <td>수위가 너무 낮습니다.</td>

                                <tr class="sel">
                                    <td class="td1 td1_num">15</td>
                                    <td>접속반 1(Conn 1)</td>
                                    <td>2017-03-14 16:24:35</td>
                                    <td>2017-03-14 16:24:35</td>
                                    <td>수중모듈 1 (PV 1)</td>
                                    <td>수위가 너무 낮습니다.</td>

                                    <tr class="sel">
                                        <td class="td1 td1_num">16</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>
                                    <tr class="sel">
                                        <td class="td1 td1_num">17</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>
                                    <tr class="sel">
                                        <td class="td1 td1_num">18</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>
                                    <tr class="sel">
                                        <td class="td1 td1_num">19</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>
                                    <tr class="sel">
                                        <td class="td1 td1_num">20</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>
                                    <tr class="sel">
                                        <td class="td1 td1_num">21</td>
                                        <td>접속반 1(Conn 1)</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>2017-03-14 16:24:35</td>
                                        <td>수중모듈 1 (PV 1)</td>
                                        <td>수위가 너무 낮습니다.</td>

                                    </tr>


                        </tbody>
                    </table>



                    <ul class="pagination pagination-lg pager" id="myPager"></ul>



                </div>
            </div>

            <div style="margin:0 auto; margin-top:70px; text-align: center;">

                <p style="font-size: 13px;"> COPYRIGHT 2005. 에스엠소프트웨어(주) ALL RIGHTS RESERVED.</p>
            </div>
        </div>




        <script type="text/javascript">
            $(document).ready(function() {
                $(".sel").each(function() {
                    $(this).click(function() {
                        $(this).addClass("selected"); //클릭된 부분을 상단에 정의된 CCS인 selected클래스로 적용
                        $(this).siblings().removeClass("selected"); //siblings:형제요소들,    removeClass:선택된 클래스의 특성을 없앰
                    });
                });
            });
        </script>
        <script src="js/pager.js"></script>
</body>

</html>