<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center  jumbotron_line">
      <div class="row  row_st_line">
        <div class="row row_width" style="margin-bottom:30px;">

          <div class="pad serch_st">
            날짜 &nbsp;
            <input class="input_tre" name="start" id="start_date_input" type="text" readonly> ~
            <input class="input_tre" name="end" id="end_date_input" type="text" readonly>
            <button type="button" class="btn btn-primary" onclick="searchReport()" style="margin-bottom:3px; height:28px;" id="search">검색</button>
          </div>


        </div>
        <div class="row_width search_area">
          <b>검색결과 (총 <%- paginationInfo.totalCount %> 건)</b>
        </div>
        <div class="table-responsive row_width">
          <table class="table table-hover" style="border-bottom:1px solid #ddd;">
            <colgroup>
              <col style="width:5%">
              <col style="width:15%">
              <col style="width:15%">
              <col style="width:35%">
              <col style="width:15%">
              <col style="width:15%">
            </colgroup>
            <thead>
              <tr>
                <th>번호</th>
                <th>장비그룹</th>
                <th>장비명</th>
                <th>알람내용</th>
                <th>알람발생 일시</th>
                <th>알람해제 일시</th>
              </tr>
            </thead>
            <tbody>
              <%  
                var startListNum = (paginationInfo.page - 1) * paginationInfo.pageListCount;
                for(let index = 0; index < alarmList.length; index++){
                  
                  let eleInfo = alarmList[index];
                  let count = index + 1;
              %>
                <tr class="sel tex">
                  <td class="td1 td1_num">
                    <%= startListNum + count %>
                  </td>
                  <td>인버터</td>
                  <td>
                    <%= eleInfo.target_name %>
                  </td>
                  <td>
                    <%= eleInfo.trouble_msg %>
                  </td>
                  <td>
                    <%= BU.convertDateToText(eleInfo.occur_date)  %>
                  </td>
                  <td>
                    <%= BU.convertDateToText(eleInfo.fix_date) %>
                  </td>

                </tr>
                <%
            }
              %>
            </tbody>
          </table>
          <nav aria-label="...">
            <%- paginationInfo.paginationDom %>
          </nav>
        </div>
      </div>

    </div>
    <%- include("../master/footer.html") %>


      <script>
        let searchRange = <%- JSON.stringify(searchRange)  %>;
        // 검색 클릭 시
        function searchReport() {
          let startDate = document.getElementById('start_date_input').value;
          let endDate = document.getElementById('end_date_input').value;
          if (startDate > endDate) {
            return alert('종료일이 시작일보다 빠를 수 없습니다.');
          }

          // return;
          return location.href = `/alarm?start_date=${startDate}&end_date=${endDate}`;
        }

        $(document).ready(() => {
          let startDateDom = document.querySelector('#start_date_input');
          let endDateDom = document.querySelector('#end_date_input');

          startDateDom.value = searchRange.strStartDateInputValue;
          endDateDom.value = searchRange.strEndDateInputValue;

          makeDatePicker(endDateDom, 0);
          makeDatePicker(startDateDom, 0);
        })
      </script>

</body>

</html>