<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center  jumbotron_line">
      <div class="row  row_st_line">
        <div class="row row_width top_box">
          <div class="col-xs-2 pad sel_box">
            장비그룹
            <select class="form-control form-control_st" id="ivt_list_sel" name="connector_seq">
                <option>모두</option>
                <option>접속반</option>
                <option>인버터</option>
            </select>
          </div>
          <div class="col-xs-2 pad sel_box">
            오류 상태
            <select class="form-control form-control_st" id="ivt_list_sel" name="connector_seq">
                <option>모두</option>
                <option>해결된 오류</option>
                <option>미해결 오류</option>
            </select>
          </div>
          
          <div class="pad serch_st sel_box_data" style="margin-top:5px;">
           <div><span style="float:left; margin-left:35px;"> fromDate</span> <span style=" margin-left:-55px;"> ToDate</span>    </div> 
            <div>
           <span>날짜</span>
           
            <input class="input_tre" name="start" id="start_date_input" type="text" readonly>
            <%
              var hiddenValue = '';
              if(searchRange.searchType !== 'range'){
                hiddenValue = 'hidden';
              }
            %>
            <span id="between-start-end" <%= hiddenValue %>>~</span>
            <input class="input_tre" name="end"  id="end_date_input" type="text" readonly <%= hiddenValue %>>
            <button type="button" class="btn btn-primary" onclick="searchReport()" style="" id="search">검색</button>
          </div>
          </div>
        </div>
        <div class="row_width search_area">
          <b>검색결과 (총 <%- paginationInfo.totalCount %> 건)</b>
        </div>
        <div class="table-responsive row_width">
          <table class="table table-hover" style="border-bottom:1px solid #ddd;">
            <colgroup>
              <col style="width:5%">
              <col style="width:15%">
              <col style="width:15%">
              <col style="width:35%">
              <col style="width:15%">
              <col style="width:15%">
            </colgroup>
            <thead>
              <tr>
                <th>번호</th>
                <th>장비그룹</th>
                <th>장비명</th>
                <th>알람내용</th>
                <th>알람발생 일시</th>
                <th>알람해제 일시</th>
              </tr>
            </thead>
            <tbody>
              <%  
                var startListNum = (paginationInfo.page - 1) * paginationInfo.pageListCount;
                for(var index = 0; index < alarmList.length; index++){
                  
                  var eleInfo = alarmList[index];
                  var count = index + 1;

                  var occur_date = eleInfo.occur_date instanceof Date ? BU.convertDateToText(eleInfo.occur_date) : '';
                  var fix_date = eleInfo.fix_date instanceof Date ? BU.convertDateToText(eleInfo.fix_date) : '';

              %>
                <tr class="sel tex">
                  <td class="td1 td1_num">
                    <%= startListNum + count %>
                  </td>
                  <td>인버터</td>
                  <td>
                    <%= eleInfo.target_name %>
                  </td>
                  <td>
                    <%= eleInfo.msg %>
                  </td>
                  <td>
                    <%= occur_date  %>
                  </td>
                  <td>
                    <%= fix_date %>
                  </td>

                </tr>
                <%
            }
              %>
            </tbody>
          </table>
          <nav aria-label="...">
            <%- paginationInfo.paginationDom %>
          </nav>
        </div>
      </div>

    </div>
    <%- include("../master/footer.html") %>


      <script>
        var searchRange = <%- JSON.stringify(searchRange)  %>;
        // 검색 클릭 시
        function searchReport() {
          var startDate = document.getElementById('start_date_input').value;
          var endDate = document.getElementById('end_date_input').value;
          if (startDate > endDate) {
            return alert('종료일이 시작일보다 빠를 수 없습니다.');
          }

          // return;
          return location.href = "/alarm?start_date=" + startDate + "&end_date=" + endDate;
          // return location.href = `/alarm?start_date=${startDate}&end_date=${endDate}`;
        }

        $(document).ready(function(){
          var startDateDom = document.querySelector('#start_date_input');
          var endDateDom = document.querySelector('#end_date_input');

          startDateDom.value = searchRange.strStartDateInputValue;
          endDateDom.value = searchRange.strEndDateInputValue;

          makeDatePicker(endDateDom, 0);
          makeDatePicker(startDateDom, 0);
        })
      </script>

</body>

</html>