<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="/css/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/fullcalendar/fullcalendar.min.js"></script>
    <script src="/js/fullcalendar/locale-all.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <style>
      #calendar div.fc-view-container > div > table  {
        background-color: aliceblue
      }

      .row {
        margin: 0 auto;
      }

      .fc-content {
        text-align: left
      }

      .fc-content>span {
        color: aliceblue
      }
    </style>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center jumbotron_st">
      <div class="row row_st">
        <div id="calendar"></div>
      </div>
    </div>

    <%- include("../master/footer.html") %>

      <script>
        var calendarEventList = <%- JSON.stringify(calendarEventList) %>;
        console.log(calendarEventList);
        $(document).ready(function () {
          $("#calendar").fullCalendar({
              header: {
                left: "prev,next today",
                // left: "",
                center: "title",
                right: "",
                // right: "month,agendaWeek,agendaDay,listMonth",
              },
              // height: 800,
              selectable: true,
              locale: "ko",
              // defaultDate: "2018-04-12",
              // navLinks: true, // can click day/week names to navigate views
              // businessHours: true, // display business hours
              // eventLimit: true, // allow "more" link when too many events
              editable: true,
              events: calendarEventList,
              // events: [{
              //     title: "수심:1.5\n운량(날씨): 7.6\n일사량: 1042\n온도:\t 25\n특이사항:\t ㅎㅅㅎ",
              //     description: "description for All Day Event",
              //     start: "2018-04-01"
              //   }, {
              //     title: "수심:\t 1.5",
              //     description: "단위: cm",
              //     start: "2018-04-02"
              //   }, {
              //     title: "운량(날씨):\t 7.6",
              //     description: "description for All Day Event",
              //     start: "2018-04-02"
              //   }, {
              //     title: "일사량: 1042",
              //     description: "description for All Day Event",
              //     start: "2018-04-02"
              //   }, {
              //     title: "온도: 25",
              //     description: "description for All Day Event",
              //     start: "2018-06-02"
              //   }, {
              //     title: "특이사항: ㅎㅅㅎ",
              //     description: "특별한 에러가 발생",
              //     start: "2018-04-02",
              //   },
              //   {
              //     title: "Long Event",
              //     description: "description for Long Event",
              //     start: "2018-04-07",
              //     end: "2018-04-10"
              //   },
              //   {
              //     id: 999,
              //     title: "Repeating Event",
              //     description: "description for Repeating Event",
              //     start: "2018-04-09T16:00:00"
              //   },
              //   {
              //     id: 999,
              //     title: "Repeating Event",
              //     description: "description for Repeating Event",
              //     start: "2018-04-16T16:00:00"
              //   },
              //   {
              //     title: "Conference",
              //     description: "description for Conference",
              //     start: "2018-04-11",
              //     end: "2018-04-13",
              //     color: "red"
              //   },
              //   {
              //     title: "Meeting",
              //     description: "description for Meeting",
              //     start: "2018-04-12T10:30:00",
              //     end: "2018-04-12T12:30:00"
              //   },
              //   {
              //     title: "Lunch",
              //     description: "description for Lunch",
              //     start: "2018-04-12",
              //     overlap: false,
              //     rendering: "background",
              //     color: "blue"
              //   },
              //   {
              //     title: "Meeting",
              //     description: "description for Meeting",
              //     start: "2018-04-12T14:30:00"
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   }, {
              //     title: "특이사항 가즈아~~~~~~~~~~~~~~~~~~~",
              //     description: "Birthday Party",
              //     start: "2018-04-13",
              //   },
              //   {
              //     start: "2018-04-13",
              //     // overlap: false,
              //     rendering: "background",
              //     color: "purple",
              //   },
              //   {
              //     title: "Click for Google",
              //     url: "http://google.com/",
              //     start: "2018-04-28"
              //   }
              // ],
             
              eventClick: function (date, jsEvent, view) {
                alert($(this).find("span.fc-title").text());
              }
            }
          );
        });
      </script>
</body>

</html>