<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  <!-- 개발 토글을 위한 것. 본 서버에는 적용할 필요 없음 -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css" />
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>

  <!-- SVG Map 을 생성하기 위한 필수 Library -->
  <script src="js/drawSvg/svg.js"></script>
  <script src="js/drawSvg/svg.filter.js"></script>
  <script src="js/drawSvg/jquery.panzoom.js"></script>
  <script src="js/drawSvg/jquery.mousewheel.js"></script>

  <!-- SVG Map을 생성하고 관리하기 위한 Core Library -->
  <script src="js/drawSvg/drawSvg.js"></script>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
  <!--메인-->
  <div class="jumbotron text-center jumbotron_line">
    <div class="row row_st_line" style="padding: 20px 0 0">
      <div class="table-responsive row_width" style="text-align: left">
        <button type="button" name="selectMode" data-value="tableMode" class="btn btn-default">테이블</button>
        <button type="button" name="selectMode" data-value="structureMode" class="btn btn-default">구성도</button>
      </div>
    </div>
    <div class="row row_st_line min_h_780">
      <!-- 장치 연결 상태 -->
      <div>
        <p>장치 연결 상태:
          <span id="device_connected_stauts"></span>
        </p>
        <h2>
          <span>명령 처리 결과:</span>
          <span id="test_alert" style="color: red"></span>

        </h2>
      </div>
      <!-- 명령 제어 -->
      <div class="row row_width  top_box">
        <div class="col-xs-3 sel_box" id="scenario_control_div" style="width: 200px">
          <a class="btn btn-success btn-lg" id="scenario_control_run_btn" data-value="CONTROL" role="button">시연모드 1
            실행</a>
          <a class="btn btn-danger btn-lg" id="scenario_control_cancel_btn" data-value="CANCEL" role="button">시연모드 1
            정지</a>
        </div>

        <div class="col-xs-3 sel_box" style="width: 250px">
          명령 제어 목록
          <select class="form-control form-control_st" id="automatic_control_list" name="" style="width: 230px">
          </select>
        </div>

        <div class="sel_box_data" id="automatic_control_div">
          <button type="button" class="btn btn-primary" data-value="CONTROL" style="margin-bottom:3px; height:40px;"
            id="search">제어
            요청</button>
          <button type="button" class="btn btn-danger" data-value="CANCEL"
            style="margin-left: 10px; margin-bottom:3px; height:40px;" id="search">취소 요청</button>
        </div>
      </div>
      <!-- 장치 제어 -->
      <div class="row row_width  top_box">
        <div class="col-xs-3 sel_box" style="width: 200px">
          장치 카테고리
          <select class="form-control form-control_st" id="single_control_cate_list" name="" style="width: 180px">
          </select>
        </div>
        <div class="col-xs-3 sel_box" style="width: 200px">
          장치 목록
          <select class="form-control form-control_st" id="single_control_device_list" name="" style="width: 180px">

          </select>
        </div>
        <div class="col-xs-3 sel_box" style="width: 150px">
          제어 형식
          <select class="form-control form-control_st" id="single_control_type" name="" style="width: 130px">
            <option value="1">
              Open
            </option>
            <option value="0">
              Close
            </option>
          </select>
        </div>
        <div class="col-xs-3 sel_box" style="width: 150px">
          우선 순위
          <select class="form-control form-control_st" id="single_control_rank" name="" style="width: 130px">
            <option value="0">긴급</option>
            <option value="1">First</option>
            <option value="2" selected>Second</option>
            <option value="3">Third</option>
          </select>
        </div>
        <div class=" sel_box_data">
          <button type="button" id="single_control_btn" class="btn btn-primary" style="margin-bottom:3px; height:40px;"
            id="search">장치 제어 실행</button>
        </div>
      </div>
      <!-- tableContent -->
      <div id="tableMode">
        <div style="display: flex; justify-content: center">
          <div id="contents" class="row row_st_line min_h_780" style="padding: 30px">
            <div class=" panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"> 명령 목록 </div>
              <div class="panel-body"> 갱신 시간:
                <span id="CMD_order_date"></span>
              </div>
              <!-- Table -->
              <table id="CMD_order_list" class="table">
                <thead>
                  <tr>
                    <th data-field="wrapCmdType">명령 종류</th>
                    <th data-field="wrapCmdStep">명령 상태</th>
                    <th data-field="wrapCmdId">요청 ID</th>
                    <th data-field="wrapCmdName">명령 이름</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div id="contents" class="row row_st_line min_h_780" style="padding: 30px">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"> 장치 상태 정보 목록</div>
              <div class="panel-body"> 갱신 시간:
                <span id="CMD_node_date"></span>
              </div>
              <!-- Table -->
              <table id="MS_node_list" class="table">
                <thead>
                  <tr>
                    <th data-field="nd_target_name">장치 명</th>
                    <th data-field="node_id">장치 ID</th>
                    <th data-field="place_name_list">관련 장소</th>
                    <th data-field="data">데이터</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <!-- structureContent -->
      <div id="structureMode">
        <div class="">
          <div id="zoom" style="display: flex; justify-content: center;">
            <button id="zoom-in" class="btn btn-default btn-sm" style="margin-right: 5px">
              <span class="glyphicon glyphicon-zoom-in"></span>
              Zoom-in
            </button>
            <button id="zoom-out" class="btn btn-default btn-sm" style="margin-right: 5px">
              <span class="glyphicon glyphicon-zoom-out"></span>
              Zoom-out
            </button>
            <button id="reset" class="btn btn-default btn-sm" style="margin-right: 5px">
              <span class="glyphicon glyphicon-refresh"></span>
              Reset
            </button>
            <div style="margin-right: 5px">
              <input id="placeNodeChangeNameToogleBtn" type="checkbox" data-toggle="toggle" />
            </div>
            <select class="selectpicker" id="modeSelect">
              <option value="view">뷰 모드</option>
              <option value="control">제어 모드</option>
              <!-- <option value="develop">개발 모드</option> -->
            </select>
          </div>
          <!-- canvas -->
          <div>
            <div id="canvas" style="margin: 5px"></div>
          </div>
        </div>
      </div>

    </div>


  </div>

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // 초기 페이지에 접속하면 자동으로 데이터를 갱신하기 위함
    var $CMD_order_table = $('#CMD_order_list');
    var $MS_node_table = $('#MS_node_list');

    var socket;
    var currNodeList = [];
    $(function () {
      socket = io();
      bindingClickEventNode(socket)


      // 접속한 사용자의 정보를 보내줌.
      socket.emit("certifySocket", {
        sessionID: "<%- sessionID %>",
        sessionUserInfo: <%- JSON.stringify(user) %>,
      });

      // 장치 연결 상태 반영
      var dataLoggerConnectedStatus = document.getElementById("device_connected_stauts");
      socket.on("updateMsClientStatus", function (string) {
        dataLoggerConnectedStatus.innerText = string;
      });

      // 노드 관련 갱신 반영
      socket.on("updateNode", function (nodeList) {
        // console.log(nodeList)
        var nodeList = _.isArray(nodeList) && nodeList.length > 0 ? nodeList : [];
        currNodeList = nodeList;
        // draw map
        _.forEach(nodeList, nodeInfo => {
          showNodeData(nodeInfo.node_id, nodeInfo.data)
        })
        $MS_node_table.bootstrapTable('destroy').bootstrapTable({
          data: nodeList
        });
        document.getElementById("CMD_node_date").innerText = new Date().toLocaleString();
      });

      // 명령 관련 갱신 반영
      socket.on("updateCommand", function (commandList) {
        // console.log(commandList)
        var commandList = _.isArray(commandList) && commandList.length > 0 ? commandList : [];

        $CMD_order_table.bootstrapTable('destroy').bootstrapTable({
          data: commandList
        });
        document.getElementById("CMD_order_date").innerText = new Date().toLocaleString();
      });

      // FIXME: 오류를 보기위하여 임시
      // 명령 요청 결과 Alert
      socket.on("resultExecCommand", function (message) {
        // console.log(commandList)
        document.getElementById("test_alert").innerText = message;
      });


      // TODO: socket.emit 함수 생성 및 장치 연결 중일 때만 emit하도록 해주는 함수 구현
      // 저장된 명령을 실행하고자 할 경우 (requestMsg는 명령 전송 객체 Key에 쓰이므로 임의 변경 불가)
      $("#automatic_control_div > button").on("click", function () {
        var automaticId = $("#automatic_control_list option:selected").val();
        // var controlType = $("#automatic_control_type option:selected").val();
        var controlType = $(this).data("value");
        // console.log(controlType);

        var requestMsg = {
          commandId: "AUTOMATIC",
          contents: {
            /**
             * 명령 제어 타입 (wrapCmdType) 
             * @example
             * CONTROL: 장치 제어 요청
             * CANCEL: 명령 제어 취소 요청
             * MEASURE: 명령 계측 요청
             */
            wrapCmdType: controlType,
            savedCommandId: automaticId,
          }
        }
        socket.emit("executeCommand", requestMsg);
      })

      // 장치 단일 제어 (requestMsg는 명령 전송 객체 Key에 쓰이므로 임의 변경 불가)
      $("#single_control_btn").on("click", function () {
        var deviceId = $("#single_control_device_list option:selected").val();
        var controlType = $("#single_control_type option:selected").val();
        var controlRank = $("#single_control_rank option:selected").val();
        var requestMsg = {
          commandId: "SINGLE",
          contents: {
            /**
             * 명령 제어 타입 (wrapCmdType) 
             * @example
             * CONTROL: 장치 제어 요청
             * CANCEL: 명령 제어 취소 요청
             * MEASURE: 명령 계측 요청
             */
            wrapCmdType: "CONTROL", // 단일 동작 제어는 모두 명령 요청으로 처리
            nodeId: deviceId,
            /**
             * 장치 제어 타입 (requestDeviceControlType)
             * @example
             * 0: 장치 Close, Off
             * 1: 장치 Open, On
             * 2: 장치 Measure
             * 3: 장치 값 설정
             */
            singleControlType: controlType,
            rank: Number(controlRank),
          }
        }
        console.log(requestMsg)
        socket.emit("executeCommand", requestMsg);
      })

      // 시나리오 요청 (requestMsg는 명령 전송 객체 Key에 쓰이므로 임의 변경 불가)
      $("#scenario_control_div > a").on("click", function () {
        var controlType = $(this).data("value");
        var requestMsg = {
          commandId: "SCENARIO",
          contents: {
            /**
             * 명령 제어 타입 (wrapCmdType) 
             * @example
             * CONTROL: 장치 제어 요청
             * CANCEL: 명령 제어 취소 요청
             * MEASURE: 명령 계측 요청
             */
            wrapCmdType: controlType,
            scenarioId: "scenario1",
            rank: 1,
          }
        }
        socket.emit("executeCommand", requestMsg);
      })
    });
  </script>



  <script>
    // tabsheet
    var $selectDomList = $("button[name=selectMode]");
    $("button[name=selectMode]").on("click", function (event) {
      var selectValue = $(this).data("value");
      $selectDomList.each(function (index, ele) {
        var $ele = $(ele);
        var eleValue = $ele.data("value");
        if (eleValue === selectValue) {
          $ele.removeClass("btn-default")
          $ele.addClass("btn-success")
          $("#" + eleValue).removeAttr("hidden")
        } else {
          $ele.removeClass("btn-success")
          $ele.addClass("btn-default")
          $("#" + eleValue).attr("hidden", "hidden")
        }
      })
    })
    $("button[data-value=tableMode]").trigger("click"); // FIXME:
    // $("button[data-value=structureMode]").trigger("click"); // FIXME:
  </script>

  <script>
    // drawing map
    var map = <%- JSON.stringify(map) %>
    drawSvgBasePlace('canvas');

    setPanzoom();


    //모드 선택 설렉트 박스 and 한/영 토글 버튼
    $('select, #placeNodeChangeNameToogleBtn').change(() => {
      const selectedModeVal = $('select').selectpicker('val');
      const isChecked = $('#placeNodeChangeNameToogleBtn').prop('checked'); // 체크 상태 false: off, true: on

      $(`#canvas`).empty(); // svg가 그려진 공간 초기화
      drawSvgBasePlace('canvas', isChecked); // 초기화 후 다시 그리기 (체크 상태 포함)

      bindingClickEventNode(socket, selectedModeVal); // 장치, 센서 클릭 이벤트 다시 바인딩

      reDrawNodeData(isChecked)
    });

    /**
     * isChecked: false: off(한글), true: on(영어)
     */
    function reDrawNodeData(isChecked) {
      _.forEach(currNodeList, nodeInfo => {
        showNodeData(nodeInfo.node_id, nodeInfo.data, isChecked)
      })
    }

    // panzoom 옵션 세팅
    function setPanzoom() {
      const svgMap = SVG.get('svgCanvas');
      const canvas = document.getElementById('canvas');
      const $canvas = $('#canvas');
      const {
        width,
        height
      } = map.drawInfo.frame.mapInfo;
      const matrix = `matrix(0.4, 0, 0, 0.4, ${width - width * 1.27}, ${height - height * 1.3})`;
      
      const filter = 'win16|win32|win64|mac';

      // 맵 size 재설정
      canvas.style.width = svgMap.node.width.baseVal.value + 'px';
      canvas.style.height = svgMap.node.height.baseVal.value + 'px';

      //모바일, pc 접속 분별하여 zoom in/out 활셩 여부 설정
      if (navigator.platform) {
        if (0 > filter.indexOf(navigator.platform.toLowerCase())) {
          // mobile
          // panzoom
          $canvas.panzoom({
            disablePan: true,
            disableZoom: true,
            startTransform: matrix,
          });
          $('#zoom-out', '#zoom-in', '#reset').hide();
        } else {
          // pc
          // panzoom
          $canvas.panzoom({
            $reset: $('#reset'),
            cursor: 'context-menu',
            startTransform: matrix,
          });

          // mouseWheel
          $canvas.panzoom().on('mousewheel.focal', function (e) {
            e.preventDefault();
            const delta = e.delta || e.originalEvent.wheelDelta;
            const zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            $canvas.panzoom('zoom', zoomOut, {
              animate: false,
              focal: e,
            });
          });

          // zoom 기능 기준점 재정의
          $('#zoom-in').click(function (e) {
            $canvas.panzoom('zoom', {});
          });
          $('#zoom-out').click(function (e) {
            $canvas.panzoom('zoom', 'zoomOut', {});
          });
        }
      }
    }
  </script>

  <script>
    $("#single_control_cate_list").on("change", function (event) {
      return setDeviceInfoList();
    })

    // 장치 카테고리 설정
    function setDomDeviceType() {
      var deviceTypeList = _.map(deviceInfoList, "template")
      var single_control_device_list = document.getElementById("single_control_cate_list");
      single_control_device_list.innerHTML = deviceTypeList;
    }

    function setDeviceInfoList() {
      var deviceGroup;
      var category = $("#single_control_cate_list").val();

      var domInfo = _.find(deviceInfoList, {
        type: category
      })
      var single_control_device_list = document.getElementById("single_control_device_list");
      single_control_device_list.innerHTML = domInfo.list;
    }

    var deviceInfoList;
    $(document).ready(function () {
      var automaticDom = <%- JSON.stringify(automaticControlList) %>
      $('#automatic_control_list').html(automaticDom);

      deviceInfoList = <%- JSON.stringify(deviceInfoList) %>;

      setDomDeviceType();
      setDeviceInfoList()

      // 시작시 개발 모드로 세팅
      $('#modeSelect')
        .val('control')
        .trigger('change');
    })

    // $("#single_control_device_list").trigger('click');
  </script>





  <%- include("../master/footer.html") %>
</body>

</html>