<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SM부트스트랩 테마디자인</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

  <!-- 부트스트랩 -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <script src="js/jquery-3.1.1.min.js"></script>
  <link href="css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="js/bootstrap.min.js"></script>
  <!-- 구글 차트 -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <link href="fonts/font-awesome.min.css" rel="stylesheet" />

  <!-- connector Script -->
  <!--네비-->
  <%- include("../master/header.html") %>


    <!--메인-->
      <div class="jumbotron text-center jumbotron_line">
        <div class="row row_st_line">
          <div class="row row_width">

            <div class="col-xs-3 connect_3" style="padding:0;">

              <select class="form-control form-control_st" id="sel1" name="connector_seq">
              <%
              for(var i = 0 ; i < optionList.length ; i++){
                if(connector_seq==optionList[i].connector_seq){
                %>
                <option selected value=<%=optionList[i].connector_seq %>><%=optionList[i].target_name%></option>
                <%
              }else{
                %>
                <option value=<%=optionList[i].connector_seq %>><%=optionList[i].target_name%></option>
                <%
                }
              }
              %>
            </select>

              <div class="title" style="margin-top:30px;"> 실시간 접속반 모니터링</div>

            </div>


            <div class="col-xs-9" style="padding:0; width:820px;">
              <div class="conne">
                <div class="form-group conne_1">
                  <label class="inputlg_1" for="inputlg">전압(V)</label>
                  <input class="form-control input-lg" id="inputlg" type="text" value="32.7">
                </div>


                <div class="form-group conne_1">
                  <label class="inputlg_1" for="inputlg">총 전류(A)</label>
                  <input class="form-control input-lg" id="inputlg" type="text" value="62.9">
                </div>

              </div>
            </div>

          </div>

          <div class="row_width">

            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th style="width:12%;"></th>
                    <th style="width:11%;">CH
                      <%=tableList[0].channel%>
                    </th>
                    <th style="width:11%;">CH
                      <%=tableList[1].channel%>
                    </th>
                    <th style="width:11%;">CH
                      <%=tableList[2].channel%>
                    </th>
                    <th style="width:11%;">CH
                      <%=tableList[3].channel%>
                    </th>
                    <th style="width:11%;">CH
                    </th>
                    <th style="width:11%;">CH
                    </th>
                    <!-- <th style="width:11%;">CH 7</th>
                  <th style="width:11%;">CH 8</th> -->

                  </tr>
                </thead>
                <tbody id="myTable">

                  <tr class="sel">
                    <td class="td1">설치장소</td>
                    <%
                  for(var i = 0; i < tableList.length; i++){
                    if(tableList[i].place===null){
                  %>
                      <td>외부</td>
                      <%
                    }else{
                    %>
                        <td>
                          <%=tableList[i].place%>
                        </td>
                        <%
                    }
                  }
                  %>
                          <!-- <td></td>
                  <td></td> -->
                  </tr>
                  <tr class="sel">
                    <td class="td1">모듈 타입</td>
                    <td><%=tableList[0].target_name%></td>
                    <td><%=tableList[1].target_name%></td>
                    <td><%=tableList[2].target_name%></td>
                    <td><%=tableList[3].target_name%></td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <!-- <td></td>
                  <td></td> -->
                  </tr>
                  <tr class="sel">
                    <td class="td1">제조사</td>
                    <td><%=tableList[0].manufacturer%></td>
                    <td><%=tableList[1].manufacturer%></td>
                    <td><%=tableList[2].manufacturer%></td>
                    <td><%=tableList[3].manufacturer%></td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <!-- <td></td>
                  <td></td> -->
                  </tr>
                  <tr class="sel">
                    <td class="td1">전류 (A)</td>
                    <td>11.2</td>
                    <td>22.3</td>
                    <td>12.4</td>
                    <td>34.2</td>
                    <td>12.5</td>
                    <td>13.1</td>
                    <!-- <td></td>
                  <td></td> -->
                  </tr>
                  <tr class="sel">
                    <td class="td1">모듈온도(℃)</td>
                    <td>24.5</td>
                    <td>24.8</td>
                    <td>23.3</td>
                    <td>24.5</td>
                    <td>22.5</td>
                    <td>25.5</td>
                    <!-- <td></td>
                  <td></td> -->
                  </tr>
                  <tr class="sel">
                    <td class="td1">장치상태</td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                    <td class="center_ball"><img src="image/green.png" /></td>
                  </tr>


                </tbody>
              </table>
            </div>
            <div class="row row_title">
              <div class="title" style="margin-top:10px; float:left;"> 금일 시간 별 전류 값</div>
            </div>

            <div class="title_box" id="chart_div" style="height :300px"></div>

          </div>

        </div>
        <%- include("../master/footer.html") %>
      </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".sel").each(function () {
          $(this).click(function () {
            $(this).addClass("selected"); //클릭된 부분을 상단에 정의된 CCS인 selected클래스로 적용
            $(this).siblings().removeClass("selected"); //siblings:형제요소들,    removeClass:선택된 클래스의 특성을 없앰
          });
        });

        //SelectBox Change Function
        $('#sel1').change(function () {
          var connector_seq= $('#sel1').val();
          return location.href = "/connector?connector_seq="+connector_seq;
        })
      });
    </script>

    <!-- 접속반 구글 차트 -->
    <!-- <script type="text/javascript">
      google.charts.load('current', { 'packages': ['line'] });
      google.charts.setOnLoadCallback(drawChart);

      var chartList = <%-chartList %>;
      function drawChart() {
        var data = new google.visualization.arrayToDataTable(chartList, false);
        var options = {
          vAxis :{title : '전류(A)'},
          hAxis :{title : '시간(Time)'}
        };

        var chart = new google.charts.Line(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Line.convertOptions(options));
      }
    </script> -->

    <!-- 접속반 하이차트-->
    <script type="text/javascript">
      $(function () {
        var data =<%- chartList %>; 
        $('#chart_div').highcharts({
          title: {
            text: ''
          },
          xAxis: {
            title: {
              text: '시간(Time)'
            },
            categories: data[6],
            tickInterval: 6
            // categories: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']
          },
          yAxis: {
            title: {
              text: '전류(A)'
            }
          },
          legend: {  //범례
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: [{   //값
            name: 'CH1',
            data: data[0]
          }, {
            name: 'CH2',
            data: data[1]
          }, {
            name: 'CH3',
            data: data[2]
          }, {
            name: 'CH4',
            data: data[3]
          }, {
            name: 'CH5',
            data: data[4]
          }, {
            name: 'CH6',
            data: data[5]
          }
          ]
        });
      });
    </script>
</body>

</html>





<!-- AJAX TEST -->

<!-- $.ajax({
  type: "POST",
  url: "/connector",
  data: { value: $(this).val() }
}).done(function (res) {
  // var place = '<tr class=sel><td class=td1>설치장소</td>';
  // for (var i = 0; i < res.length; i++) {
  //   if (res[i].target_name === null) {
  //     place+='<td>외부 모듈</td>'
  //   } else {
  //     place+='<td>'+res[i].target_name+'</td>'
  //   }
  // }
  // place+='</tr>';
  // console.log(place);
  // $('#myTable').html(place);
  // // $('#place').html(place);
}).fail(function (req, sts, err) {
  alert(err);
});
$(this).val(); -->