<!DOCTYPE html>
<html>

<head>
  <title>SVG.js</title>
  <script src="../publics/js/svg.js"></script>
  <script src="../publics/js/lodash.min.js"></script>
  <script src="../publics/devMap.js"></script>
</head>

<body>
  <div id="drawing">%%hi</div>
</body>

<script>
  
  document.addEventListener('click', function (event) {
    var x = event.clientX;     // Get the horizontal coordinate
    var y = event.clientY;     // Get the vertical coordinate
    var coor = "X coords: " + x + ", Y coords: " + y;
    console.log(coor);
  })
</script>

<script src="./svgUtil.js" >
  
</script>
<script>
  makeDrawingFrame('drawing')
</script>

</html>