<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
  <script src="js/hichart/highcharts.src.js"></script>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center jumbotron_line">
      <div class="row row_st_line min_h_780">


        <div class="row row_width  top_box">
            <div class="col-xs-2 sel_box">
                장비 종류
              <select class="form-control form-control_st" id="device_type_sel" name="">
                <%
                  for(var i = 0 ; i < searchOption.device_type_list.length ; i++){
                    var deviceTypeInfo = searchOption.device_type_list[i];
                    var deviceType = deviceTypeInfo.type;
                    var deviceName = deviceTypeInfo.name;
                    var selected = '';
                    if(deviceType === searchOption.device_type){
                    selected = 'selected';
                  }
                %>
                <option  value="<%= deviceType %>" <%=selected %> >
                  <%= deviceName %>
              </option>
                <%
                  }
                %>
              </select>
            </div>
          <div class="col-xs-2 sel_box">
              장비 선택
            <select class="form-control form-control_st" id="device_list_sel" name="device_seq">
              <%
                for(var i = 0 ; i < searchOption.device_list.length ; i++){
                  var deviceInfo = searchOption.device_list[i];
                  var device_seq = deviceInfo.seq;
                  var device_type = deviceInfo.type;
                  var device_name = deviceInfo.target_name;
                  var selected = '';
                  if(device_seq === searchOption.device_seq){
                    selected = 'selected';
                  }
                %>
                <option data-type="<%= device_type %>"  value="<%= device_seq %>" <%=selected %> >
                    <%= device_name %>
                </option>
                <%
                  }
                %>
            </select>
          </div>
          <div class="col-xs-4 ">
            <div id="sel_type_div_area" class="input_st">
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="hour">일일</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="day">월간</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="month">년간</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="range">기간선택</label>
            </div>
          </div>

          <div class="serch_st sel_box_data">
            날짜 &nbsp;
            <input class="input_tre" name="start" id="start_date_input" type="text" readonly>
  
            <input class="input_tre" name="end" id="end_date_input" type="text" readonly hidden="hidden"> 
            <button type="button" class="btn btn-primary" onclick="searchTrend()" style="margin-bottom:3px; height:28px;" id="search">검색</button>

          </div>
        </div>




        <div class="row_width">

          <div class="row row_title">
            <div class="title title_trend">모듈별 발전량</div>
            <p class="title_p" id="during">
            </p>
          </div>

          <div class=".title_box2" id="moduleChart_1">


          </div>

          <!-- <div class="row row_title">
            <div class="title title_trend">기상 장치 정보</div>
          </div> -->

          <!-- <div class="title_box" id="moduleChart_2"></div> -->

        </div>
      </div>
    </div>
    <%- include("../master/footer.html") %>

      <!-- 기본 데이터 세팅 -->
      <script>
        $("#device_type_sel").on('change', function(event){
          console.log(event.target.value)
          changeDeviceType(event.target.value)
        })


        // 초기 시작시 라디오 체크버튼 클릭처리
        var searchRange = <%- JSON.stringify(searchOption.search_range)  %>;
        var searchType = "<%- searchOption.search_type %>";

        $(document).ready(function() {
          var selectedObj = $("#sel_type_div_area").find("input[value=" + searchType + "]") ;
          // document.querySelector(`#sel_type_div_area input[value=${searchType}]`)

          $(selectedObj).trigger('click');
        })


        /**
         * 검색 기간 Radio 클릭 시 날짜 영역 설정
         * @param {Dom} input[name='searchType']
         * @return {void} 
         */
        function setterSelectType(target) {
          var checkedSearchType = target.value;
          var startDateDom = document.querySelector('#start_date_input');
          var endDateDom = document.querySelector('#end_date_input');

          var startDate = new Date(searchRange.strStartDateInputValue);
          var endDate = searchRange.strEndDateInputValue === '' || new Date(searchRange.strEndDateInputValue) ===
            'Invalid Date' ? startDate : new Date(searchRange.strEndDateInputValue);

          var viewMode = 0;
          var sliceEndIndex = 10;

          checkedSearchType === 'range' ? $('#end_date_input').show() : $('#end_date_input').hide();

          if (checkedSearchType == 'month') {
            viewMode = 2;
            sliceEndIndex = 4;
          } else if (checkedSearchType == 'day') {
            viewMode = 1;
            sliceEndIndex = 7;
          } else if (checkedSearchType == 'range') {
            makeDatePicker(endDateDom, 0);
            endDateDom.value = endDate.toISOString().substring(0, sliceEndIndex);
          } else {
            viewMode = 0;
            sliceEndIndex = 10;
          }
          startDateDom.value = startDate.toISOString().substring(0, sliceEndIndex);
          makeDatePicker(startDateDom, viewMode);
        }

        // 검색 클릭 시
        function searchTrend() {
          var device_type = document.querySelector('#device_type_sel option:checked').value;
          var $deviceListDom = $('#device_list_sel option:checked');
          var searchType = document.querySelector('#sel_type_div_area input[name="searchType"]:checked').value;
          var startDate = document.getElementById('start_date_input').value;
          var endDate = '';

          if (searchType === 'range') {
            endDate = document.getElementById('end_date_input').value;
            if (startDate > endDate) {
              return alert('종료일이 시작일보다 빠를 수 없습니다.');
            }
          }
          console.log($deviceListDom.data('type'))
          var device_list_type = $deviceListDom.data('type');
          var device_seq = $deviceListDom.val();

          // return;

          

          // device_type === 'all' ? 

          var locationHref = "trend?device_type=" + encodeURIComponent(device_type) + "&device_list_type=" + encodeURIComponent(device_list_type) + "&device_seq=" + encodeURIComponent(device_seq) + "&start_date=" + encodeURIComponent(startDate) + "&end_date=" + encodeURIComponent(endDate) + "&search_type=" + encodeURIComponent(searchType);
          // var locationHref = "/trend?device_type=" + device_type + "&device_seq=" + device_seq + "&start_date=" + startDate + "&end_date=" + endDate + "&search_type=" + searchType;
          // console.log('location', locationHref)
          return location.href = locationHref;
          // `/trend?device_seq=${device_seq}&start_date=${startDate}&end_date=${endDate}&search_type=${searchType}`;
        }

        // 장치 타입 변경 시
        function changeDeviceType(deviceType) {
          // console.log("changeDeviceType", deviceType)
          // var deviceName = deviceType === 'inverter' ? '인버터' : deviceType === 'connector' ? '접속반' : '모두';
          $.ajax({
            type: "GET",
            url: "/trend/sub-list/" + encodeURIComponent(deviceType)
          }).done(function (dataList, msg, res) {
            // Check for a successful (blank) response
            // console.log('dataList', dataList)
            var resultData = dataList;
            var html = '';
            resultData.forEach(data => {
              var seq = data.seq;
              var target_name = data.target_name;
              html += '<option value="' + seq + '">' + target_name + '</option>';
            });

            // $("#device_list_sel").parent().html(deviceName)
            $("#device_list_sel").html(html);
          }).fail(function (req, sts, err) {
            alert(err);
          });
        }
      </script>

      <!-- 모듈 차트 -->
      <script type="text/javascript">
      var chartData = <%- JSON.stringify(chartData) %>;
      var chartOption = <%- JSON.stringify(chartOption) %>;
      if(chartData.series.length){
        $('#moduleChart_1').highcharts({
              title: {
                text: chartOption.mainTitle
              },
              xAxis: {
                title: {
                  text: chartOption.xAxisTitle
                },
                tickInterval: 1,
                categories: chartData.range
              },
              yAxis: {
                title: {
                  text: chartOption.yAxisTitle
                }
              },
              legend: { //범례
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
              },
              series: chartData.series,
              credits: {
                enabled: false
              },
            });
      } else {
        $("#moduleChart_1").html("발전 내역이 존재하지 않습니다.").css({"line-height": "240px", "font-size": "25px"});
      }
      </script>

      <!-- 날씨 차트 -->
      <!-- <script>
      Highcharts.chart('moduleChart_2', {
        chart: {
          type: 'column'
        },
        title: {
          text: ' '
        },
        xAxis: {
          categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
            '17', '18', '19', '20', '21', '22', '23'
          ]
        },
        yAxis: [{
          min: 0,
          title: {
            text: '수치'
          }
        }, {
          min: 0,
          title: {
            text: '일사량'
          },
          opposite: true
        }],

        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
          name: '습도(%)',
          data: [],
          // data: moduleChart[0],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">습도: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          }
        }, {
          name: '기온(℃)',
          data: [],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">기온: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} ℃</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          }
        }, {
          name: '일사량',
          data: [],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">일사량: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} W/m2</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          yAxis: 1
        }]
      });
    </script> -->


</body>

</html>