<!DOCTYPE html>
<html>

<head>
  <%- include("../master/head.html") %>
  <script src="js/hichart/highcharts.src.js"></script>
</head>

<body>
  <!--네비-->
  <%- include("../master/header.html") %>
    <!--메인-->
    <div class="jumbotron text-center jumbotron_line">
      <div class="row row_st_line">


        <div class="row row_width  top_box">
          <div class="col-xs-2 sel_box">
              장비그룹
            <select class="form-control form-control_st" id="cnt_list_sel" name="connector_seq">
              <%
                    for(var i = 0 ; i < connectorList.length ; i++){
                        var connectorInfo = connectorList[i];
                        var cntSeq = connectorInfo.connector_seq;
                        var cntName = connectorInfo.target_name;
                        var selected = '';
                        if(cntSeq === connector_seq){
                          selected = 'selected';
                        }
                      %>
                <option <%=selected %> value="
                  <%= cntSeq %>" >
                    <%= cntName %>
                </option>
                <%
                    }
                    %>
            </select>
          </div>
          <div class="col-xs-5 ">
            <div id="sel_type_div_area" class="input_st">
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="hour">일일</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="day">월간</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="month">년간</label>
              <label class="radio-inline">
                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="range">기간선택</label>
            </div>
          </div>

          <div class="serch_st sel_box_data">
            날짜 &nbsp;
            <input class="input_tre" name="start" id="start_date_input" type="text" readonly>
  
            <input class="input_tre" name="end" id="end_date_input" type="text" readonly hidden="hidden"> 
            <button type="button" class="btn btn-primary" onclick="searchTrend()" style="margin-bottom:3px; height:28px;" id="search">검색</button>

          </div>
        </div>




        <div class="row_width">

          <div class="row row_title">
            <div class="title title_trend">모듈별 발전량</div>
            <p class="title_p" id="during">
            </p>
          </div>

          <div class="title_box" id="moduleChart_1">


          </div>

          <!-- <div class="row row_title">
            <div class="title title_trend">기상 장치 정보</div>
          </div> -->

          <!-- <div class="title_box" id="moduleChart_2"></div> -->

        </div>
      </div>
    </div>
    <%- include("../master/footer.html") %>

      <!-- 기본 데이터 세팅 -->
      <script>
        // 초기 시작시 라디오 체크버튼 클릭처리
        var searchRange = <%- JSON.stringify(searchRange)  %>;
        var trendReportList = <%- JSON.stringify (trendReportList) %>;

        $(document).ready(function() {
          console.log('searchRange', searchRange, trendReportList)
          var searchType = '<%-searchType%>';
          if (!trendReportList.hasData) {
            alert('조회 내역이 없습니다.');
          }
          var selectedObj = $("#sel_type_div_area").find("input[value=" + searchType + "]") ;
          // document.querySelector(`#sel_type_div_area input[value=${searchType}]`)

          $(selectedObj).trigger('click');
        })


        /**
         * 검색 기간 Radio 클릭 시 날짜 영역 설정
         * @param {Dom} input[name='searchType']
         * @return {void} 
         */
        function setterSelectType(target) {
          var checkedSearchType = target.value;
          var startDateDom = document.querySelector('#start_date_input');
          var endDateDom = document.querySelector('#end_date_input');

          var startDate = new Date(searchRange.strStartDateInputValue);
          var endDate = searchRange.strEndDateInputValue === '' || new Date(searchRange.strEndDateInputValue) ===
            'Invalid Date' ? startDate : new Date(searchRange.strEndDateInputValue);

          var viewMode = 0;
          var sliceEndIndex = 10;

          checkedSearchType === 'range' ? $('#end_date_input').show() : $('#end_date_input').hide();

          if (checkedSearchType == 'month') {
            viewMode = 2;
            sliceEndIndex = 4;
          } else if (checkedSearchType == 'day') {
            viewMode = 1;
            sliceEndIndex = 7;
          } else if (checkedSearchType == 'range') {
            makeDatePicker(endDateDom, 0);
            endDateDom.value = endDate.toISOString().substring(0, sliceEndIndex);
          } else {
            viewMode = 0;
            sliceEndIndex = 10;
          }
          startDateDom.value = startDate.toISOString().substring(0, sliceEndIndex);
          makeDatePicker(startDateDom, viewMode);
        }

        // 검색 클릭 시
        function searchTrend() {
          var connector_seq = document.querySelector('#cnt_list_sel option:checked').value;
          var searchType = document.querySelector('#sel_type_div_area input[name="searchType"]:checked').value;
          var startDate = document.getElementById('start_date_input').value;
          var endDate = '';

          if (searchType === 'range') {
            endDate = document.getElementById('end_date_input').value;
            if (startDate > endDate) {
              return alert('종료일이 시작일보다 빠를 수 없습니다.');
            }
          }

          return location.href ="/trend?connector_seq=" + connector_seq + "&start_date=" + startDate + "&end_date=" + endDate + "&search_type=" + searchType;
          // `/trend?connector_seq=${connector_seq}&start_date=${startDate}&end_date=${endDate}&search_type=${searchType}`;
        }
      </script>

      <!-- 모듈 차트 -->
      <script type="text/javascript">
        // console.log('trendReportList.shortTxtPoint', trendReportList.shortTxtPoint)
        $('#moduleChart_1').highcharts({
          title: {
            text: trendReportList.chartOptionInfo.mainTitle
          },
          xAxis: {
            title: {
              text: trendReportList.chartOptionInfo.xAxisTitle
            },
            tickInterval: 1,
            categories: trendReportList.columnList
          },
          yAxis: {
            title: {
              text: trendReportList.chartOptionInfo.yAxisTitle
            }
          },
          legend: { //범례
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: trendReportList.series,
          credits: {
            enabled: false
          },
        });
      </script>

      <!-- 날씨 차트 -->
      <!-- <script>
      Highcharts.chart('moduleChart_2', {
        chart: {
          type: 'column'
        },
        title: {
          text: ' '
        },
        xAxis: {
          categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
            '17', '18', '19', '20', '21', '22', '23'
          ]
        },
        yAxis: [{
          min: 0,
          title: {
            text: '수치'
          }
        }, {
          min: 0,
          title: {
            text: '일사량'
          },
          opposite: true
        }],

        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
          name: '습도(%)',
          data: [],
          // data: moduleChart[0],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">습도: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          }
        }, {
          name: '기온(℃)',
          data: [],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">기온: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} ℃</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          }
        }, {
          name: '일사량',
          data: [],
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}시</span><br><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">일사량: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} W/m2</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          yAxis: 1
        }]
      });
    </script> -->


</body>

</html>